@import "tailwindcss";

@theme {
  --color-saffron: #f59e0b;
  --color-saffron-dark: #d97706;
  --color-dark-bg: #121212;
  --color-panel-bg: #1e1e1e;
  --color-ari: #3b82f6;
  --color-ari-dark: #2563eb;
  --color-popo: #ef4444;
  --color-popo-dark: #dc2626;
}
